In [ ]:
import numpy as np
import pandas as pd

**Importation des bases de données contenant les indicateurs suivants :**
- Le niveau de diplôme et de formation par commune (data_diplome);
- La catégorie socio-professionnelle par commune (data_csp);
-	Le taux d’activité par tranche d’âge par commune (data_activite);
- La médiane du niveau de vie par département (data_mediane);
-	Le salaire net horaire moyen par département (data_salhor).

In [ ]:
data_mediane = pd.read_csv("/content/Médiane du niveau de vie 2017.csv", sep =";", skiprows=2)
data_salhor = pd.read_csv("/content/Salaire net horaire moyen par département 2017.csv", sep =";", skiprows=2)

print(data_mediane.head(5))
print(data_mediane.dtypes)

  Code                  Libellé  Médiane du niveau de vie 2017
0   01                      Ain                        22640.0
1   02                    Aisne                        19100.0
2   03                   Allier                        19750.0
3   04  Alpes-de-Haute-Provence                        19940.0
4   05             Hautes-Alpes                        20350.0
Code                              object
Libellé                           object
Médiane du niveau de vie 2017    float64
dtype: object

In [ ]:
pd.merge(data_mediane, data_salhor, on=['Code','Libellé'], how='left')

    Code  ... Salaire net horaire moyen 2017
0     01  ...                          13.86
1     02  ...                          12.81
2     03  ...                          12.45
3     04  ...                          12.97
4     05  ...                          12.21
..   ...  ...                            ...
96   971  ...                          14.08
97   972  ...                          13.84
98   973  ...                          14.70
99   974  ...                          13.05
100  976  ...                            NaN

[101 rows x 4 columns]